@import "general_scss/reset";
@import "general_scss/variables";

* {
  font-family: $font, serif !important;
}

body {
  height: 100vh;
  width: 100%;
  color: $black;
  background-color: $white;
}

button {
  &:focus {
    outline: 0;
  }

  &.primary {
    background-color: $black;
    color: $white;
    font-weight: $bold;
  }

  &.secondary {
    background-color: $white;
    color: $black;
    font-weight: $bold;
  }
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
